.App {
  display: grid;
  grid-template-areas: 
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list'
}

.search-bar {
  grid-area: search-bar;
  background-color: brown;
}

.video-player {
  grid-area: video-player;
  background-color: aqua;
}

.video-list {
  grid-area: video-list;
  background-color: darkgoldenrod;
}